<h3>List of All College</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Program</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Vedas</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Islington</td>
      <td>Thornton</td>
      <td>The British</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">The British</td>
      <td>twitter</td>
    </tr>
  </tbody>
</table>