@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
@{
    int x = 90;
}
<p>Use this page to detail your site's privacy policy.</p>
<p>Value of x is equal to @x</p>
@section Scripts
{
    var x = 20;
}
<p>Value of x is equal to @x</p>

Assignments
Subjects
Students
Teachers
College
Program
Semester

